/**
 * Base
 */

html {
  scroll-behavior: smooth; // no-js jumplink smooth scroll transition

  // Prevent horizontal scrolling
  width: 100%;
  overflow-x: hidden;
}

body {
  @extend .sans;

  // Prevent <body> scrolling while the hamburger menu is open
  @include mq(lg, "max") {
    &.menu-open {
      position: fixed;
      left: 0;
      right: 0;
      overflow: hidden;
    }
  }
}
