/**
 * Color map for Gutenberg styles
 * Matches functions.php color definitions
 *
 * These are different from colors.scss
 * and MUST be placed at the end of the scss imports list.
 */

$colorPalette: (
  white: $white,
  black: $black,
);

@each $name, $color in $colorPalette {
  .has-#{$name}-color,
  /* This overrides Gutenberg color:inherit styles */
  .has-#{$name}-color.wp-block-button__link {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}
